@import "components/_galleryutils";

.container--unstyled-list {
  list-style-type: none;
}
.gallery__section {
  overflow: hidden;
}
.gallery__container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
.gallery__list {
  display: flex;
  flex-direction: row;
  gap: 2.53px;
  z-index: 2;
}
.gallery__inner--2 {
  gap: 1.8px;
}
.gallery__inner {
  display: flex;
  flex-direction: column;
  gap: 2.52px;
  img {
    @extend %item_dim1x;
    border-radius: 8px;
    &:hover {
      transform: scale(1.2);
      transition: 1s linear;
      @extend %position;
      z-index: 1;
    }
  }
  .large__image {
    @extend %image_dim1x;
  }
  .gallery__item {
    @extend %item_dim1x;
  }
  .gallery__item--large {
    @extend %image_dim1x;
  }
}
%image_dim1x {
  width: 89.4px;
  height: 89.61px;
}
%item_dim1x {
  width: 43.59px;
  height: 43.86px;
}

.gallery__list__item {
  @include gallery-list-item((1, 20px), (3, -30px), (5, -15px), (6, 15px));
  &:nth-child(2) {
    @extend %position;
  }
  &:nth-child(4) {
    @extend %position;
  }
  &:nth-child(5) {
    @extend %position;
  }
}

@media (min-width: 768px) {
  .gallery__container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }
  .gallery__list {
    gap: 6.07px;
  }
  .gallery__list__item {
    @include gallery-list-item((1, 45px), (3, -70px), (6, 55px));
    &:nth-child(2) {
      @extend %position;
    }
    &:nth-child(4) {
      @extend %position;
    }
    &:nth-child(5) {
      @extend %position;
    }
  }
  .gallery_inner:nth-child(2) {
    gap: 4.54px;
  }
  .gallery__inner--2 {
    gap: 4.54px;
  }
  .gallery__inner {
    display: flex;
    flex-direction: column;
    gap: 6.05px;
    img {
      @extend %item_dimx2;
      border-radius: 20px;
      &:hover {
        transform: scale(1.2);
        transition: 1s linear;
        position: relative;
      }
    }
    .large__image {
      @extend %image_dimx2;
    }
    .gallery__item {
      @extend %item_dimx2;
    }
    .gallery__item--large {
      @extend %image_dimx2;
    }
  }
  %image_dimx2 {
    width: 214.55px;
    height: 214.81px;
  }
  %item_dimx2 {
    width: 104.62px;
    height: 105.14px;
  }
}

@media (min-width: 1024px) {
  .gallery__container {
    max-width: 1013px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
  }
  .gallery__list {
    gap: 8px;
  }
  .gallery__list__item {
    @include gallery-list-item((1, 50px), (3, -85px), (6, 75px));
    &:nth-child(2) {
      @extend %position;
    }
    &:nth-child(4) {
      @extend %position;
    }
    &:nth-child(5) {
      @extend %position;
    }
  }
  .gallery__inner--2 {
    gap: 5.99px;
  }
  .gallery__inner {
    display: flex;
    flex-direction: column;
    gap: 7.98px;
    img {
      width: 138px;
      height: 138.68px;
      border-radius: 20px;
      &:hover {
        transform: scale(1.2);
        transition: 1s linear;
        @extend %position;
      }
    }
    .large__image {
      @extend %image_dimx3;
    }
    .gallery__item {
      @extend %item_dimx3;
    }
    .gallery__item--large {
      @extend %image_dimx3;
    }
  }
  %image_dimx3 {
    width: 283px;
    height: 283.34px;
  }
  %item_dimx3 {
    width: 138px;
    height: 138.68px;
  }
}
* {
  padding: 0px;
  margin: 0px;
}
.gallery__item {
  margin: 0%;
  padding: 0%;
}
